# Include this file in your project root directory

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binaries built with `go test -c`
*.test

# Output of the go coverage tool, test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories
# Un-comment the line below if you explicitly choose to vendor dependencies
# vendor/

# Go workspace file
go.work
go.work.sum

# Local environment variables
.env

# Common IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?